@font-face {
  font-family: "UnifrakturCook";
  src: local("UnifrakturCook"),
    url("./fonts/UnifrakturCook/UnifrakturCook-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #02070a;
  color: #def0f8;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 900px) {
  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
