@font-face {
  font-family: "UnifrakturCook";
  src: local("UnifrakturCook"),
    url("./fonts/UnifrakturCook/UnifrakturCook-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a0d05;
  width: 100%;
  padding: 0 100% 2% 100%;
  color: white;
}

header.notLoggedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a0d05;
  width: 100%;
  padding: 0 100% 2% 100%;
  color: white;
}

h1.header {
  font-family: UnifrakturCook;
}

h2.header {
  font-family: Montserrat;
}

div.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav li {
  border: none;
}

nav li.header:not(:last-child) {
  padding-right: 5%;
}

a {
  text-decoration: none;
  font-family: Montserrat;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1.header {
    flex: 3;
    font-size: xx-large;
    text-align: center;
  }

  h2.header {
    font-size: medium;
  }
}

a:link {
  color: white;
}

a:visited {
  color: #b7a367;
}

a:hover {
  color: #d3c38c;
}

a:active {
  color: #a68c75;
}
