.home {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 70%;
  text-align: center;
  margin: 2% auto 1% auto;
}

.home p {
  color: #f6e8a9;
}

button {
  background-color: #0e0e0e;
  color: #f6e8a9;
  border: 2px solid #b7a367;
}
