li {
  display: block;
  border: solid 2px black;
  margin: 5%;
}

div.siteTitle {
  background-color: rgb(110, 110, 110);
  padding: 5% 2% 2% 2%;
}

div.siteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
