li {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: solid 2px black;
  margin: 5%;
  max-width: 85%;
}

div.siteTitle {
  background-color: #b2e3e3;
  padding: 5% 2% 2% 2%;
}

div.siteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
