li {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: solid 2px #02070a;
  margin: 5%;
  max-width: 85%;
}

div.siteTitle {
  background-color: #163b43;
  padding: 5% 2% 2% 2%;
}

div.siteTitle h2 {
  color: #def0f8;
}

div.siteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #def0f8;
  color: #02070a;
}
